In [1]:
import sys

In [2]:
import pandas

In [3]:
import datetime

In [4]:
import matplotlib

In [5]:
df=pandas.read_csv("study_centers_201909.csv")

In [6]:
df["weekday"]=df["device_local_date"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').weekday())

In [7]:
df["hour"]=df["device_local_date"].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f').hour)

In [8]:
shopping_center_ids=pandas.unique(df["shopping_center_id"])

In [9]:
shopping_center_ids[1]

'599cb959-11ef-49aa-9eb3-e6c17b4ea6ba'

In [10]:
df_by_center1_1=df.loc[(df['shopping_center_id']==shopping_center_ids[1])&(df["weekday"]==1)]

In [11]:
df_by_center1_1

,shopping_center_id,device_local_date,device_hash_id,weekday,hour
23,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-10 14:03:23.000,c502161d13,1,14
24,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-10 20:58:09.000,c0d915dfc1,1,20
25,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-10 14:16:51.000,43cc831f04,1,14
34,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-17 10:54:35.000,0b4ae959d9,1,10
35,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-17 19:24:04.000,c0d915dfc1,1,19
...,...,...,...,...,...
81305,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-03 15:54:29.000,bf9b30620f,1,15
81306,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-03 20:18:21.000,c0d915dfc1,1,20
81308,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-03 12:21:13.000,5088521a1b,1,12
81310,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-03 10:38:43.000,8ba90501ec,1,10
81653,599cb959-11ef-49aa-9eb3-e6c17b4ea6ba,2019-09-03 06:07:20.000,1696baed4b,1,6

In [12]:
df_by_center1_1["hour"].hist()